.Konten {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height:100%;
}
.Kontainer {
    background: white;
    width:1100px;
}
.table{
    width: 50%;
}
.MyForm{
    align-items: center;
}
.UserPic{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.MyID{
    font-family: Helvetica;
    font-size: 18px;
    margin: 0  0 20px;
}
.MyTable{
    border-collapse: collapse;
}
    .MyTable td, .MyTable th{
        font-family: Helvetica;
        border: 1px solid #ddd;
        padding: 8px;
    }
    .MyTable tr:nth-child(even){background-color: #f2f2f2;}

    .MyTable tr:hover {background-color: #ddd;}
    
    .MyTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: rgb(61, 61, 61);
      color: white;
    }
