.MyForm{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1.48px solid #3f3f3f; */
    min-width: 400px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MyLabel, .MyInput, .MySubmit{
    margin : 5px;
    transition: all ease-in-out 0.1s;
}
.MyLabel{
    margin : 10px 10px 5px;
    font-family: corbelb;
}
.MySubmit{
    margin : 10px 5px 5px;
}
.MyInput{
    font-family: Helvetica;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #3f3f3f00;
    border-radius: 50px;
    background: #dbdbdb;
}
    .MyInput:hover{
        border: 2px solid #3f3f3f;
    }
    .MyInput:focus{
        outline: none;
        border: 2px solid #3f3f3f;
    }
.MySubmit{
    background: #c05151;
    color : white;
    border: 2px solid #3f3f3f00;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
}
    .MySubmit:hover{
        cursor: pointer;
        border: 2px solid #3f3f3f;
    }
    .MySubmit:focus{
        outline: none;
        border: 2px solid #3f3f3f;
    }